<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edi.initialfantasy.mapper.CompanyMapper" >
    <resultMap id="BaseResultMap" type="org.edi.initialfantasy.bo.company.Company" >
        <id column="companyId" property="companyId" jdbcType="INTEGER" />
        <result column="parentId" property="parentId" jdbcType="INTEGER" />
        <result column="companyName" property="companyName" jdbcType="VARCHAR" />
        <result column="shortName" property="shortName" jdbcType="VARCHAR" />
    </resultMap>


    <select id="serchCompanyId" resultMap="BaseResultMap">
        SELECT * FROM AVA_IF_COMPANY WHERE "companyName"=#{companyName}
    </select>
</mapper>